@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav flex-grow-1 flex-row">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item mr-3">
        <a  class="nav-link btn btn-success px-3" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </li>
    <li class="nav-item mr-3">
        <a  class="nav-link btn btn-info px-3" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-danger px-3">Logout</button>
        </form>
    </li>
}
else
{
    /*<li class="nav-item">
        <a class="nav-link text-light-custom mr-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light-custom" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>*/

    <li class="nav-item mr-3">
        <a class="nav-link text-light-custom" asp-area="" asp-controller="Home" asp-action="Check">Check my entries</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Redeem">Redeem Code</a>
    </li>
}
</ul>
