@using ACWS_Data.Models
@model CheckModel

@{
    ViewData["Title"] = "Check Entries";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <form asp-action="GetParticipant" method="post">
            <p class="h4">Check your entries.</p>
            <hr />

            <div class="text-danger"></div>

            <div class="form-group">
                <label asp-for="SerialNumber">Serial Number</label>
                <input asp-for="SerialNumber" pattern="[a-zA-Z0-9]+" minlength="8" maxlength="8" autocomplete="off" oninput="checkSerialNumber();" style="text-transform: uppercase;" type="text" placeholder="A1B2C3D4" class="form-control" required />
                <span id="snErrorMsg" style="visibility: hidden;" class="text-danger">Serial Number must only contain letters and numbers.</span>
            </div>
            
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" autocomplete="email" type="email" placeholder="example@example.example" class="form-control" required />
                <span id="emailErrorMsg" style="visibility: hidden;" class="text-danger">Email must be valid.</span>
            </div>

            <button type="submit" class="btn btn-primary">Check</button>
        </form>
    </div>
</div>